{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h2>{{ show.title }}</h2>
    <h4>Thumnail</h4>
    <img src="{{ show.thumbnail.url }}" >
    <h3>장소</h3>
    <p>{{ show.place }}</p>
    <h3>기간</h3>
    <p>{{ show.period }}</p>
    <h4>Poster</h4>
    <img src="{{ show.poster.url }}" >
    <h4>상세 안내</h4>
    <p>가격: {{ show.price }}</p> <br>
    <p>{{ show.description }}</p>

    <h3>댓글</h3>
    {% for comment in comments %}
        <p>{{ comment.author }}: {{ comment.content }}</p>
    {% endfor %}
</div>
{% endblock %}